// Colors
// Color Pallete
$ad-black-color: #000 !default;
$ad-white-color: #fff !default;
$ad-brand-primary-color: #d32f2f !default;
$ad-brand-secondary-color: #fff !default;
$ad-background-color: #fff !default;

// Fonts
$ad-font-family-base: "Roboto", sans-serif !default;
$ad-font-size-base: 1rem !default;
$ad-font-weight-base: 400 !default;
$ad-line-height-base: 1.5 !default;

// z position
$ad-z-position-top: 10000 !default;

// Paddings

// TOOLTIP
$ad-tooltip-text-color: $ad-white-color !default;
$ad-tooltip-background-color: #616161 !default;
$ad-tooltip-min-height: 24px !default;
$ad-tooltip-max-width: 250px !default;
$ad-tooltip-padding: 4px 8px !default;
$ad-tooltip-corner-radius: 2px !default;
$ad-tooltip-z-position: $ad-z-position-top;
